.demo {
    width:400px;
}
/*ul {*/
/*    list-style: none outside none;*/
/*    padding-left: 0;*/
/*    margin-bottom:0;*/
/*}*/
/*li {*/
/*    display: block;*/
/*    float: left;*/
/*    margin-right: 6px;*/
/*    cursor:pointer;*/
/*    max-width: 100%*/
/*}*/
img {
    display: block;
    height: auto;
    max-width: 100%;
}
